:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --color-bright: #ecc32c;
  --color-text: #811e25;
  --color-light-shadow: #498a34;
  --color-shadow: #736949;
  --color-dark: #1a1a1a;
  --rounded-corners: 1ch;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
}

body {
  background-color: var(--color-light-shadow);
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--step-0);
}

.button {
  margin: var(--step-0);
  background-color: var(--color-light-shadow);
  color: var(--color-text);
  padding: var(--step-0);
  border-radius: var(--rounded-corners);
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-shadow);
}

.button a {
  color: var(--color-text);
  padding: 0;
  text-decoration: none;
}

.container {
  padding: var(--step-3);
  width: min(110ch, 100vw - 2rem);
  margin-inline: auto;
  background-color: var(--color-light-shadow);
}

.card {
  border-radius: var(--rounded-corners);
  background-color: var(--color-bright);
  margin: var(--step--1);
}

.about {
  margin: var(--step-5);
}

.card h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: var(--step-1);
  margin: var(--step--2);
}

.card h2 {
  font-size: var(--step-2);
  margin: var(--step--1);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-dark);
}

@media(min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    gap: var(--step-0);
  }

  .container {
    margin-top: 5rem;
  }
}

@media(max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center stretch;
    transition: 0.3s;
    background-color: var(--color-light-glare);
    border-bottom: var(--color-secondary) 2px solid;
    border-top: var(--color-secondary) 2px solid;
  }

  nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .container.active {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 13rem;
  }
}